.width500px{
    width: 450px; display: inline-block;
}
.center{
    text-align: center;
}
#startBtn{
    border: none; color: white; background-color: #5AAFFF; width: 80px;padding: 5px; font-weight: bold; cursor: pointer;
}
#cardTable{
    border-collapse: collapse;
}
#cardTable td{
    border: 1px solid #5AAFFF; width: 75px; height: 121px; text-align: center; cursor: pointer;
}
#cardTable td img{
    max-width: 70px;
}
#cardTable td span{
    font-size: 25pt; font-weight: bold; color: #5AAFFF; display: none;
}
#countDown{
    background-color: #5AAFFF; color: white; font-size: 20pt;
}
#info{
    width: 450px; height: 250px; background-color: #DDDDDD; color: white; padding-top: 230px;
}
.div {
    position: fixed;
    left: 70;
}
.div:hover {
    width:100;
}
.div2 {
    position: fixed;
    left: 190;
}
.div2:hover {
    width:100;
}