.div {
    position: fixed;
    left: 70;
}
.div:hover {
    width:100;
}
@import url(http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);
.content h2{
    font-size:2em;
    text-align:center;
    font-family: 'Nanum Brush Script', serif;
    color: rgb(255, 94, 0);
}
@import url('https://fonts.googleapis.com/css?family=Allura');
.content2 h1{
    font-size:5em;
    text-align:center;
    font-family: 'Allura', cursive;
}